{
    "language": "en",

    "language_file_path": "./src/data",
    "swear_file_path": "./src/messages/swear.txt",
    "bot_settings_file_path":"./src/bot_settings.json", 
    "emoji_file_path":"./src/emoji.txt",
    "color_file_path": "./src/color.json",
    "roles_file_path": "./src/roles.json",
    
    "database":"server_list",
    "message_database": "message_ids",
    "user_data_databse":"user_data",
    "ban_database":"ban_list", 




    "bot_name": "",
    "bot_status": "",
    "bot_logo_url": "",

    "admin_guild": , 
    "channel_admin_log": ,
    "channel_staff_log": ,
    "channel_report_log": ,


    "bot_invite": "",
    "bot_support_server": "",
    "bot_website": "",
    "bot_website_enabled": "False",


    "standard_server_icon": "https://raw.githubusercontent.com/Blackstonecoden/Global-Chat-Python/main/images/BLANK_ICON.jpg"
}