# NOTE REMOVE ALL THE COMMENTS that start with #
{
    "", # Location of the swear file. Mostly in ./swear.txt
    "bot_settings_file_path":"", # Location of the Bot-Settings file. Mostly in ./bot_settings.json
    "emoji_file_path":"", # Location of the emoji file. Mostly in ./emoji.txt
    "color_file_path": "", # Location of the embed color file. Mostly in ./color.txt
    
    "database":"", # Table name of the server_list (look in setup.py)
    "message_database": "", # Table name of the message_id_list (look in setup.py)
    "user_data_databse":"", # Table name of the user_roles (look in setup.py)
    "ban_database":"b", # Table name of banned usere (look in setup.py)




    "bot_name": "", # The name of the Bot
    "bot_status": "", # Custom BOT Status
    "bot_logo_url": "", # PNG file of the Bot avatar / Logo

    "admin_guild": , # The admin guild server, where commands like /ban-use or /set-role user can be run (has to be an intiger)
    "channel_admin_log": , # The log channel where bans are logged (intiger)
    "channel_staff_log": , # The channel where staff-chanes are logged (with /set-role) (intiger)
    "channel_report_log": , # The channel where reports are looged (intiger)


    "bot_invite": "", # Invite of the bot. Example: https://discord.com/api/oauth2/authorize?client_id=<YOUR_BOT_ID>&permissions=1101659499601&scope=bot%20applications.commands
    "bot_support_server": "", # Invite to the support server https://discord.gg/<CODE>
    "bot_website": "", # Bot website 


    "standard_server_icon": "https://raw.githubusercontent.com/Blackstonecoden/Global-Chat/main/BLANK_ICON.jpg", # You don't have to change this
    "icon_announcement": "https://raw.githubusercontent.com/Blackstonecoden/Global-Chat/main/ICON_IMPORTANT.png", # Not used atm
    "icon_important": "https://raw.githubusercontent.com/Blackstonecoden/Global-Chat/main/ICON_IMPORTANT.png" # Not used atm
}